:root {
    /* color */
    --color-bkg-t1: rgba(0, 0, 0, 0.15);
    --color-bkg-t2: rgba(0, 0, 0, 0.25);
    --color-bkg-t3-white: rgba(45, 108, 186, 0.3);
    --color-bkg-t1-prim: rgba(45, 108, 186, 0.1);
    --color-bkg-t2-prim: rgba(45, 108, 186, 0.2);
    --color-bkg-primary: rgba(45, 108, 186, 1);
    --color-bkg-black: black;
    --color-bkg-tooltip: rgb(122, 166, 219);
    --color-bkg-menu: rgb(23,29,37);

    --color-ft-white: white;
    --color-ft-light: darkgrey;
    --color-ft-dark: black;
    --color-ft-primary: rgb(2, 255, 255);


    /* form */
    --rds-sm: 4px;
    --rds-md: 8px;
    --rds-lg: 16px;

    /*fonts*/
    --ft-xs: 10px;
    --ft-sm: 13px;
    --ft-md: 20px;
    --ft-lg: 25px;
    --ft-xl: 30px;

    --font-1:'Arial', Helvetica, sans-serif;
    --font-2:'Montserrat', sans-serif;
}

.body {
    font-family: var(--font-1);
    background-color: var(--color-bkg-black);
    color: var(--color-ft-white);
    overflow-x: hidden;
}

form {
    padding-left: 10px;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 140vh;
    width: auto;
    object-fit: cover;
    z-index: -1;
}


.blur-background {
    position: relative;
    min-width: 1000px;
    align-items: flex;
    top: 0%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    color: var(--color-ft-white);
    background-color: var(--color-bkg-t1);
}

.case {
    border: var(--color-bkg-t3-white) dashed 1px;
    padding: 10px;
}

/* -----------------------------------------------------------------------------------------------  menu */
.menu {
    background-color: var(--color-bkg-menu); 
}

.menulogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.textlogo{
    position: relative;
    color:grey;
    left: -25px;
    font-size: var(--ft-md);
    font-weight: bolder;
}
.menulogo svg{
    height: 40px;
}

.image-radio {
    position: relative;
    cursor: pointer;
}

.image-radio input[type="radio"] {
    display: none;
    /* Masquer le bouton radio par défaut */
}

.image-radio img {
    border: 2px solid transparent;
    /* Bordure par défaut */
    border-radius: 5px;
    transition: border-color 0.3s;
}

.image-radio input[type="radio"]:checked+img {
    border-color: #007bff;
    /* Bordure bleue si sélectionné */
}

/* -----------------------------------------------------------------------------------------------  head */

.container-character {
    text-transform: capitalize;
    font-size: var(--ft-sm);
    font-weight: 500;
    color: var(--color-ft-light);
}

.container-location,
.container-age,
.container-service,
.menu-certification{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-carriere {
    display: flex;
}

.container-carriere-img {
    display: flex;
    background-color: var(--color-bkg-t2);
}

.carriere-text {
    padding: 20px;
}

.carriere-number {
    margin-top: 17px;
    border: 2px solid var(--color-bkg-primary);
    width: 26px;
    height: 26px;
    border-radius: var(--rds-lg);
    text-align: center;
}

.container-carriere-img {
    text-align: center;
    /* Centre tout le contenu de la carte */
    margin: 20px;
    /* Espacement autour de la carte */
}

.carriere-img {
    margin: 5px 10px;
    position: relative;
    /* Permet de positionner le numéro par rapport à l'image */
    display: inline-block;
    /* Maintient une taille compacte */
    width: 50px;
    /* Taille de l'image */
    height: 50px;
    /* Taille de l'image */
}

.carriere-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Assure que l'image remplit bien le conteneur */
    border-radius: 10px;
    /* Ajoute des bords arrondis pour un style plus agréable */
}

.carriere-number-ent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centre parfaitement le numéro */
    font-size: 1.2rem;
    /* Taille du texte */
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    /* Cercle autour du numéro */
}


.profile-picture {
    position: relative;
    height: 184px;
    width: 184px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-profile-picture {
    width: auto;
    height: 184px;
    object-fit: cover;
    object-position: center;
}

.name,
.age-container {
    font-size: var(--ft-md);
    color: var(--color-ft-white);
}



.content-information {
    margin-top: 20px;
    text-transform: none;
}

.service-container {
    margin: 10px 0px;
    padding: 10px;
    background-color: var(--color-bkg-t2);
}

.service-img-container {
    position: relative;
    width: 54px;
    height: 54px;
}

.service-img-container img {
    position: absolute;
    height: 54px;
    width: auto;
}

.service-img-container .service-number {
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--color-ft-white);
    padding: 10px;
    font-size: var(--ft-lg);
}

.service-txt-container {
    display: inline;
    font-size: var(--ft-sm);
}

.age-number {
    width: 40px;
    height: 40px;
    border: var(--color-bkg-primary) 2px solid;
    border-radius: var(--rds-lg);
    padding: 5px;
    text-align: center;
}


/* CONTENT */

.container-achievement:hover .tooltip-text,
.container-techno:hover .tooltip-text, .container-tools:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    margin-top: 5px;
    visibility: hidden;
    font-size: var(--ft-xs);
    width: 100px;
    background-color: var(--color-bkg-tooltip);
    color: var(--color-ft-dark);
    text-align: left;
    border-radius: 5px;
    line-height: 1.1;
    padding: 5px;
    position: absolute;
    bottom: 80%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    border: var(--color-bkg-black) 1px solid;
    transform: translateX(-15%)
}

.tooltip-title {
    font-weight: bold;
    text-transform: uppercase;
}

.tooltip-description {
    font-size: var(--ft-xs);
}

.cards {
    background-color: var(--color-bkg-t2) !important;
    border-radius: var(--rds-sm);
    overflow: hidden;
}

.card-title {
    background: linear-gradient(90deg, var(--color-bkg-primary) 0%, var(--color-bkg-t2) 100%);
    padding: 8px 15px;
    font-size: var(--ft-md);
}

.card-content {
    padding: 10px;
}

.card-grid {
    position: relative;
    background-color: var(--color-bkg-t2);
    padding: 10px;
    border-radius: var(--rds-sm);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

/* ----------------------------------------------------------------------------------------------- achievements */

.card-img-achievement {
    height: 64px;
    width: 64px;
}

/* -----------------------------------------------------------------------------------------------  enterprises */

.card-enterprise-name {
    font-weight: bold;
    text-transform: uppercase;
}

.card-enterprise-mission {
    padding: 10px;
    font-size: var(--ft-sm);
    color: var(--color-ft-light);
}

.card-enterprise-asset {
    background-color: var(--color-bkg-t1);
    padding: 5px;
    font-size: var(--ft-sm);
    border-top: var(--color-bkg-t3-white) 5px solid;
}

.first{
    height: 100px;
    width: auto;
    padding: 5px;
}

.first img {
    object-fit: cover;
    height: 100%;
    
}

.second{
    height: 100px;
    padding: 20px 0px 20px 0px;
}

.second img {
    object-fit: cover;
    height: 100%;
    border-radius: var(--rds-sm);
}


.card-enterprise-grid {
    margin: 10px 0px;
    position: relative;
    background-color: var(--color-bkg-t2-prim);
    padding: 10px;
    border-radius: var(--rds-sm);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    justify-content: start;
}

.card-img-tools {
    height: 32px;
    width: 32px;
}
/* -----------------------------------------------------------------------------------------------  Projects */

/* -----------------------------------------------------------------------------------------------  contact */

.container-contact {
    padding: 10px;
}

.container-contact input {
    background-color: var(--color-bkg-t3-white);
    color: var(--color-ft-white);
    border-radius: var(--rds-sm);
    border: 0.5px var(--color-bkg-primary) solid;
    width: 100%;
    padding: 2px 10px;
}

input:focus {
    outline: none;
}

/* UI */

.container-menu {
    background-color: var(--color-bkg-t2);
    height: fit-content;
    width: 100%;
}

.menu-title {
    color: var(--color-ft-primary);
    font-size: var(--ft-lg);
}

/* -----------------------------------------------------------------------------------------------  Certifications */

.card-grid-cert {
    margin: 10px 0px;
    position: relative;
    background-color: var(--color-bkg-t2-prim);
    padding: 10px;
    border-radius: var(--rds-sm);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-content: start;
}

.menu-certification {
    margin-top: 25px;
}

.container-information {
    margin-top: 20px;
    text-transform: none;
}

.card-img-skill-cert {
    height: 48px;
    width: 48px;
}

/* -----------------------------------------------------------------------------------------------  Languages */

.card-grid-lang {
    margin: 10px 0px;
    position: relative;
    background-color: var(--color-bkg-t2-prim);
    padding: 10px;
    border-radius: var(--rds-sm);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-content: start;
}


/* -----------------------------------------------------------------------------------------------  diploma */

.card-grid-dip {
    margin: 10px 0px;
    position: relative;
    background-color: var(--color-bkg-t2-prim);
    padding: 10px;
    border-radius: var(--rds-sm);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    justify-content: start;
}

/* -----------------------------------------------------------------------------------------------  network */





























