
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background:black;
}

.swiper-card {
  position:relative;
  margin:10px;
  height:325px;
  width:230px;
  border-radius: 1px;
}

.container-bande{
  position:absolute;
  z-index:2;
}

.swiper-head, .swiper-type{
    top:10px;
    position: relative;
    width: 225px;
    height: 25px;
    background-color: transparent;
    overflow: hidden;
}

.swiper-circle {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    height: 100px;
    width: 214px;
  border:2px solid black;
  color: black;
}

.swiper-border{
  position:absolute;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 206px;
  height:29px;
  margin: 0 auto;
  left:12px;
  top:8px;
  background:transparent;
  padding: 5px 0px 0px 5px;
  font-size:14px;
}

.swiper-img{
  z-index:1;
  position:relative;
  top:10px;
  margin:2px 15px 0px 15px;
  height:150px;
  overflow:hidden;
  text-align: center;
  border:2px black solid;
}

.swiper-slide:hover{
 background: white;
 transform: perspective(1000px) rotateX(5deg);
 top:5px;
}

.swiper-img img{
  margin: 0 auto;
  max-width: 100%;
}

.swiper-description{
  z-index:1;
  position: relative;
  background:white;
  width:auto;
  top:30px;
  height:135px;
  margin:0px 15px 0px 15px;
  padding:10px;
  border: solid black 2px;
  font-size:14px;
}

.swiper-legend{
  position:absolute;
  color:black;
  bottom:10px;
  left:20px;
  font-weight:bold;
  font-size:10px;
}

.techno{
  position:absolute;
  top:14px;
  right:10px;
}
.logo{
  z-index:5;
  position:relative;
  height:16px;
}