@media screen and (max-width: 768px) {
  :root {
    --font-vbg: 30px;
    --font-bg: 25px;
    --font-md: 15px;
    --font-sm: 10px;
    --color-principal:cyan;
  }
  .background-svg{
    width: 900px;
  }

  
  .container-style {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  .project_carte {
    width: 250px;
    height: 6vh;
    position: relative;
    color: white;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
    
  .project_carte:hover {
    transform: perspective(800px) rotateX(10deg);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  }
  
  .project_carte::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 90%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .project_carte:hover::before {
    opacity: 1;
  }
  
  .project_description {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .project_font-small_description {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
  }

  .project_carte:hover .project_font-small_description {
    opacity: 1;
    transform: translateY(0);
  }
  
  .project_logos {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .project_logo {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  
  .project_titre {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  

/* ##################################################################### */

.carte {
  width: 160px;
  height: 150px;
  perspective: 1000px;
  color: #000000;
}


.carte:hover .carte-inner {
  transform: rotateY(0deg);
}

.face {
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.face-avant {
  transform: rotateY(0deg);
}

.face-arriere {
  position: relative;
  transform: rotateY(0deg);
  background-color: transparent; 
  padding: 0px;
  text-align:center;
  line-height: 16px;
  color: white;
}

.face-arriere p{
  top: 25px;
  position: relative;
}

.face img {
  position:absolute;
  top:0px;
  border-radius: 10px;
}
.face .value{
  position: relative;
  top: 0px;
  font-size: var(--font-bg);
  color: white;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.9) 90%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

  .hidden-carousel-button{
    display: flex;
    top: 50px;
  }

  .btn-carousel{
    background: var(--color-principal);
    color: var(--color-font-tertiary);
    border: none;
  }

  .btn-carousel:hover{
    background: var(--color-principal);
    color: var(--color-font-tertiary);
    border: none;
  }

  .btn-carousel:focus {
    background-color: var(--color-principal) !important;
    outline: none; 
    box-shadow: none !important;
}
  
  .cp{
    min-width: 75vw;
    max-height: 15vh;
  }

  .cp:hover{
    background-color: blue;
  }

  .project-text{
    display: none;
  }

  .project-text2{
    display: block;
  }
 
  .card_project {
    width: 70vw;
    height: 200px;
  }

  .project-text{
    font-size: 15px;
  }

  #SKILLS{
    height: 150vh;
  }

  .card_skills {
    width: 70vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .img-card-softskill{
    display: none;
  }

  .softskillunit{
    padding: 0%;
  }
  
  .card-text-skill{
    font-size: 10px;
    text-align: left;
    bottom: 0%;
    margin-top: 10px;
    background-color: transparent;
  }

  .gauge {
    position: relative;
    right: 5%;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 212, 250, 0.2);
    border-radius: 25px;
  }
  
  .gauge-level {
    height: 100%;
    background-color: rgba(0, 212, 250, 0.2);
    position: absolute;
    transition: width 0.5s;
    border-radius: 25px;
  }
  

  #imageCarousel {
    height: 30vh;
  }

  #imageCarousel .img-fluid-carousel {
    height: 35vh;
    width: 100%;
  }

  .card-text-skill{
    font-size: var(--font-sm);
    text-align: left;

  }

  .language{
    display: none;
  }
    
  footer{
    font-size: 10px;
  }
}