@media screen and (min-width: 992px) and (max-width: 1200px) {
  :root {
    --font-vbg:35px;
    --font-bg:25px;
    --font-md:20px;
    --font-sm:12px;
    --color-principal:green;
  }

  .background-svg{
    width: 1600px;
    top: 180px;
  }

    .project-text{
      display: none;
    }
  
    .project-text2{
      display: block;
    }
  
    .cp{
      min-width: 200px;
      max-width: 200px;
    }
  

    .gauge{
      margin-bottom: 5px;
    }
  
    .card_project {
      width: 30vw;
      height: 250px;
    }
    .project-text{
      font-size: 15px;
    }
  
    .card-text{
      scale: 0.8;
    }

    .card_skills{
      width: 210px;
      min-width: none;
    }
  
    .card-text-skill{
      font-size: var(--font-sm);
      bottom: 0%;
      margin: 0%;
      background-color: transparent;
    } 
    
    .contact-text{
      bottom: 120px;
      left:-150px;
    }

    footer{
      font-size: 10px;
    }
  
}