/* ####################### ROOT ####################### */ 
:root {

  /* Principal set */
  --color-primary:goldenrod;
  --color-primary-b:rgb(234, 188, 70);
  --color-secondary:rgb(90, 103, 160);
  --color-secondary-b:rgb(61, 70, 122);
  --color-dark:#1b1f36c4;
  --color-input:white;

  /* Gauge set */
  --color-gauge-front: rgba(0, 212, 250, 0.2);
  --color-gauge-back: rgba(0, 212, 250, 0.2);
  --color-gauge-h_back: rgba(0, 212, 250, 0.5);
  --color-gauge-h_front: rgb(0, 212, 250);

  /* Fonts */  
  --font-vbg: 30px;
  --font-bg: 25px;
  --font-md: 18px;
  --font-sm: 15px;

  --poppins-font: 'Poppins', sans-serif;
  --arial-font: Arial, sans-serif;

  --color-font-principal:rgb(61, 70, 122);
  --color-font-secondary:goldenrod;
  --color-font-secon:rgb(61, 70, 122);

  /*border-radius*/
  --radius-gen: 15px;
}

/* ################### END ROOT ####################### */

/* ##################### NAVBAR ####################### */



/* ################# END NAVBAR ####################### */


/* ####################### PAGE ####################### */

body{
  overflow-x: hidden;
  font-family: var(--poppins-font);
  color: var(--color-font-principal);
  background-color: var(--color-secon);
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  left: 25vw;
  scroll-margin-top: 150px;
  height: calc(100vh - 150px);
  overflow: hidden;
  border: rgba(172, 255, 47, 0.473) 2px solid;
}

.generated-font{
  color:var(--color-secondary);
}

#CONTACT{
  height: 43vh;
}

#canvas {
  position: fixed;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color:var(--color-dark);
}

.svg_home {
  position: relative; 
  background:
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1000"><path fill="rgb(234, 188, 70)" d="M 0 110 C 50 110 196 247 288 88 C 330 12 427 40 435 121 C 442 164 492 230 745 73 C 863 9 1237 11 1254 36 C 1272 69 1142 120 1196 151 C 1237 177 1261 0 1370 28 C 1425 40 1757 43 1804 105 C 1857 163 1950 110 2000 110 L 2000 200 C 1950 200 1793 214 1747 125 C 1713 60 1378 15 1300 129 C 1276 173 1068 222 1039 197 C 947 106 793 150 751 175 C 696 207 670 211 443 222 C 336 226 352 94 301 145 C 197 246 50 200 0 200"/></svg>'),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1000"><path fill="goldenrod" d="M 0 110 C 75 192 422 182 388 123 C 341 34 528 5 606 37 C 670 65 882 137 1123 54 C 1232 14 1391 21 1596 45 C 1739 65 1916 11 2000 110 L 2000 200 C 1893 135 1786 110 1660 140 C 1299 237 1287 216 1209 193 C 1056 143 775 215 717 138 C 622 23 511 47 518 90 C 533 242 110 249 0 200"/></svg>');
  background-position: 0 0, 0 0; 
  background-repeat: repeat-x;
  animation: moveBackground 240s linear infinite;
}

.svg_projects {
  width: 100vw;
  height: 250px;
  background:
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 250"><path fill="rgb(234, 188, 70)" d="M 0 110 C 50 110 196 247 288 88 C 330 12 427 40 435 121 C 442 164 492 230 745 73 C 863 9 1237 11 1254 36 C 1272 69 1142 120 1196 151 C 1237 177 1261 0 1370 28 C 1425 40 1757 43 1804 105 C 1857 163 1950 110 2000 110 L 2000 200 C 1950 200 1793 214 1747 125 C 1713 60 1378 15 1300 129 C 1276 173 1068 222 1039 197 C 947 106 793 150 751 175 C 696 207 670 211 443 222 C 336 226 352 94 301 145 C 197 246 50 200 0 200"/></svg>'),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 250"><path fill="goldenrod" d="M 0 110 C 75 192 422 182 388 123 C 341 34 528 5 606 37 C 670 65 882 137 1123 54 C 1232 14 1391 21 1596 45 C 1739 65 1916 11 2000 110 L 2000 200 C 1893 135 1786 110 1660 140 C 1299 237 1287 216 1209 193 C 1056 143 775 215 717 138 C 622 23 511 47 518 90 C 533 242 110 249 0 200"/></svg>');
  background-position: 0 0, 0 0; 
  background-repeat: repeat-x;
  animation: moveBackground 240s linear infinite;
}


.svg_skills{
  width: 100vw;
  height: 100%;
  padding: 50px;
  background:
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1000"><path fill="goldenrod" d="M 0 110 C 75 192 422 182 388 123 C 341 34 528 5 606 37 C 670 65 882 137 1123 54 C 1232 14 1391 21 1596 45 C 1739 65 1916 11 2000 110 L 2000 200 C 1893 135 1786 110 1660 140 C 1299 237 1287 216 1209 193 C 1056 143 775 215 717 138 C 622 23 511 47 518 90 C 533 242 110 249 0 200"/></svg>'),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1000"><path fill="rgb(234, 188, 70)" d="M0 0 2000 0 2000 1000 0 1000"/></svg>');
  background-position: 0 0, 0 0;
  background-repeat: repeat-x;
  animation: moveBackground 240s linear infinite;
}

.svg_values{
  width: 100vw;
  padding: 50px;
  background:
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 250"><path fill="rgb(234, 188, 70)" d="M 0 110 C 50 110 196 247 288 88 C 330 12 427 40 435 121 C 442 164 492 230 745 73 C 863 9 1237 11 1254 36 C 1272 69 1142 120 1196 151 C 1237 177 1261 0 1370 28 C 1425 40 1757 43 1804 105 C 1857 163 1950 110 2000 110 L 2000 200 C 1950 200 1793 214 1747 125 C 1713 60 1378 15 1300 129 C 1276 173 1068 222 1039 197 C 947 106 793 150 751 175 C 696 207 670 211 443 222 C 336 226 352 94 301 145 C 197 246 50 200 0 200"/></svg>'),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 250"><path fill="goldenrod" d="M 0 110 C 75 192 422 182 388 123 C 341 34 528 5 606 37 C 670 65 882 137 1123 54 C 1232 14 1391 21 1596 45 C 1739 65 1916 11 2000 110 L 2000 200 C 1893 135 1786 110 1660 140 C 1299 237 1287 216 1209 193 C 1056 143 775 215 717 138 C 622 23 511 47 518 90 C 533 242 110 249 0 200"/></svg>');
background-position: center center; 
  background-size: auto 250px;
  background-position: 0 0, 0 0; 
  background-repeat: repeat-x;
  animation: moveBackground 240s linear infinite;
}

.svg_contact{
  width: 100vw;
  padding: 50px;
  background:
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 250"><path fill="goldenrod" d="M 0 110 C 75 192 422 182 388 123 C 341 34 528 5 606 37 C 670 65 882 137 1123 54 C 1232 14 1391 21 1596 45 C 1739 65 1916 11 2000 110 L 2000 200 C 1893 135 1786 110 1660 140 C 1299 237 1287 216 1209 193 C 1056 143 775 215 717 138 C 622 23 511 47 518 90 C 533 242 110 249 0 200"/></svg>'),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 250"><path fill="rgb(234, 188, 70)" d="M0 50C251 50 188 104 368 108 514 24 1074 42 1301 103 1612 189 1950 50 2000 50L2000 450C1108 436 1497 565 880 559 231 583 246 451 0 450Z"/></svg>');
background-position: center center; 
  background-size: auto auto;
  background-position: 0 0, 0 0; 
  background-repeat: repeat-x;
  animation: moveBackground 240s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 2000px 0, 4000px 0;
  }
}

.btn-language{
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 2px;
  margin-right: 2px;
}

#btn-en {
  background: url('https://arnaudlemascon.fr/assets/pictures/uk.webp') no-repeat center center;
  background-size: cover;
}
#btn-sp {
  background: url('https://arnaudlemascon.fr/assets/pictures/sp.webp') no-repeat center center;
  background-size: cover;
}
#btn-fr {
  background: url('https://arnaudlemascon.fr/assets/pictures/fr.webp') no-repeat center center;
  background-size: cover;
}


/* ################### END PAGE ####################### */

/* ##################### NETWORK ###################### */

.iconcv{
  background-color: transparent;
  border-radius: var(--radius-gen);
  font-family: var(--arial-font);
  padding: 2px 0px 0px 1px;
  font-weight: bolder;
}

/* ################ END  NETWORK ###################### */

/* ##################### ARTICLE ###################### */

.article-container{
  position: relative;
  height: 250px;
  background-color: orange;
}

.article-item {
  text-align: center;
  font-size: var(--font-md);
  padding: 22px;
}

.article-item h2 {
  text-align: center;
  font-size: var(--font-bg);
}

/* ################# END ARTICLE ###################### */

/* #################### PORTRAIT ###################### */

.portrait-container {
  height: 175px;
  width: 450px;
  background: radial-gradient(circle, var(--color-secondary) 0%, var(--color-secon));
  border-radius: var(--radius-gen);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#shirt {
  position: absolute;
  height: 90px; 
  width: 195px; 
  background-color: black;
  border-radius: 75% 75% 0 0;
  top: 60%;
}

#neck {
  position: absolute;
  height: 80px;
  width: 60px;
  border-radius: 52.5px;
  background-color: rgb(252, 197, 172);
  top: 40%;
}

.face-container {
  position: absolute;
  height: 225px; 
  width: 300px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

#face{
  position: absolute;
  height: 150px;
  width: 112.5px; 
  border-radius: 45px; 
  background-color: rgb(252, 197, 172);
  left: 95px; 
  top: -15px; 
}

#ears{
  position: absolute;
  height: 37.5px; 
  width: 135px; 
  border-radius: 12px; 
  background-color: rgb(252, 197, 172);
  left: -11.25px;
  top: 60px; 
}

#beard{
  position: relative;
  background-color:rgb(56, 21, 21);
  height: 52.5px; 
  width: 120px; 
  top: 97.5px; 
  left: -3.75px; 
  border-radius: 75% 75% 75px 75px; 
}

#nose{
  position: relative;
  background-color: rgb(252, 197, 172);
  height: 37.5px; 
  width: 37.5px; 
  left: 37.5px; 
  top: 7.5px; 
  border-radius: 75%; 
}

#mouth{
  position: relative;
  background-color: rgb(56, 21, 21);
  height: 15px; 
  width: 52.5px; 
  top: 15px; 
  left: 30px; 
  border-radius: 7.5px 7.5px 75px 75px; 
  overflow: hidden;
}

#tsmile{
  position: relative;
  background-color: white;
  height: 7.5px; 
  width: 52.5px; 
  left: 0px;
  border-radius: 0 0 7.5px 7.5px; 
  border-top: grey solid 1.5px; 
}

#bsmile{
  position: relative;
  background-color: white;
  height: 7.5px; 
  width: 52.5px; 
  left: 0px;
  border-radius: 7.5px 7.5px 0 0; 
  border-top: grey solid 1.5px; 
}

#spot{
  position: relative;
  background-color: rgba(0, 0, 0, 0.411);
  height: 6px; 
  width: 6px; 
  top: 52.5px; 
  left: 7.5px; 
  border-radius: 7.5px; 
}

.glasses{
  position: absolute;
  background-color: rgba(0, 0, 0);
  border-radius: 7.5px; 
  top: 52.5px; 
}

#paws{
  left: -3.75px; 
  height: 7.5px; 
  width: 120px; 
}

#cyrano{
  left: 48.75px; 
  top: 60px; 
  border-radius: 75% 75% 0 0;
  height: 30px;
  width: 15px; 
  background-color: rgb(252, 197, 172);
}

.mount{
  position: absolute;
  height: 37.5px; 
  width: 49.5px; 
  top: 48.75px; 
  border-radius: 7.5px 7.5px 37.5% 37.5%; /
}

#rmount{
  left: 63px; 
}

.glass{
  background-color: rgb(233, 233, 233);
  position: absolute;
  height: 31.5px; 
  width: 43.5px; 
  top: 3px; 
  left: 3px; 
  border-radius: 3px 3px 37.5% 37.5%; 
}

/* ################ END PORTRAIT ###################### */

/* #################### PROJECTS ###################### */

.project-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
}

.project-container .cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 200px;
  width: 100%;
  max-width: 350px;
  height: 300px;
  background: #FFF;
  border-radius: var(--radius-gen);
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.project-container .cards .img-box {
  position: absolute;
  top: 20px;
  min-width: 100px;
  width: 90%;
  max-width: 300px;
  height: 220px;
  background: #333;
  border-radius: var(--radius-gen);
  overflow: hidden;
  transition: 0.5s;
}

.project-container .cards .img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  background-color: white;
}

.project-container .cards .text-box {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  font-size: var(--font-sm);
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  color: var(--color-font-secondary);
}

.project-container .cards .text-box a {
  color: var(--color-font-secondary);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 24px;
}

.project-container .cards .text-box .techno-box  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.project-container .cards .text-box .techno-box .techno-label {
  height: 25px;
  width: 50px;
  border-radius: 5px;
  margin-left: 5px;
  color: var(--color-font-principal);
  font-weight: bold;
}

.project-container .cards:hover {
  height: 325px;
}

.project-container .cards:hover .img-box {
  top: -50px;
  scale: 0.8;  
}

.project-container .cards:hover .text-box {
  top: 150px;
  height: 170px;
}

#JS{  background-color: red; }

#HTML{  background-color: blue; }

#CSS{  background-color: green; }

#AWS{ background-color: goldenrod;}

/* ################ END PROJECTS ###################### */

/* ##################### VALUES ####################### */

.values-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
}

.cartes-container {
  display: flex;
}

.carte {
  margin: 15px;
  width: 200px;
  height: 250px;
  perspective: 1000px;
  color: var(--color-font-secondary);
}

.carte-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.carte:hover .carte-inner {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--radius-gen); 
  border: 5px solid white;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:white;
}

.face-avant {
  transform: rotateY(0deg);
}

.face-arriere {
  transform: rotateY(180deg);
  background-color: #fff; 
  padding: 10px;
  text-align: center;
}

.face img {
  position:relative;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  top:0px;
  border-radius: var(--radius-gen); 
  object-fit:cover;
  
}
.face .value{
  position: relative;
  top: 5px;
  font-size: var(--font-bg);
}

/* ################# END VALUES ####################### */

/* ##################### SKILLS ####################### */

.skills-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
}

.card_skills {
  position: relative;
  background-color: var(--color-dark);
  height: 425px;
  width: 20vw;
  min-width: 194px;
  border-radius: var(--radius-gen);
  transition: transform 0.3s, box-shadow 0.3s; 
}

.card-title{
  font-size: var(--font-sm);
  text-align: center;
  text-decoration:underline;
  top:6px;
}

.S1:hover, .S2:hover,.S3:hover{
  background-image: linear-gradient(65deg, var(--color-secon) 0%, var(--color-dark) 60%);
  color: var(--color-font-principal);
  transform: scale(1.01);
  box-shadow: 0 0 0 3px var(--color-font-principal);
}

.gauge-wrapper{
  margin-bottom: 2px;
}

.gauge {
  position: relative;
  width: 100%;
  top: 5px;
  height: 10px;
  background-color:var(--color-gauge-back);
  border-radius: var(--radius-gen);
}

.gauge-level {
  height: 100%;
  background-color:var(--color-gauge-front);
  position: absolute;
  transition: width 0.5s;
  border-radius: var(--radius-gen);
  text-align:center;
  font-size: var(--font-sm);
  color: transparent;
  transition: color 0.3s;
}

.card_skills.S1:hover .gauge, .card_skills.S2:hover .gauge {
  background-color:var(--color-gauge-h_back);
}
.card_skills.S1:hover .gauge-level, .card_skills.S2:hover .gauge-level {
  background-color: var(--color-gauge-h_front);
  color: var(--color-font-secon);
}
.card_skills.S3:hover .img-card-softskill {
  opacity: 1;
}

.card-text-skill{
  text-align: right;
  position: relative;
  font-size: var(--font-sm);
  margin-bottom: 2px;
}

.S3 .card-text-skill{
  top:0px;
}

.softskillunit {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-softskill {
  position: relative;
  font-size: var(--font-sm);
  text-align: center;
  white-space: nowrap;
}

.img-card-softskill {
  position: relative;
  height: 40px;
  max-width: 60px;
  opacity: 0.5;
}

.row{
  color:var(--color-font-principal);
  position:relative;
}

.card_skills {
  position: relative;
  background-color: var(--color-secondary);
  height: fit-content;
  width: 100px;
  min-width: 194px;
  border-radius: var(--radius-gen);
  transition: transform 0.3s, box-shadow 0.3s; 
  padding:25px;
  margin:5px;
  border : var(--color-secondary) 5px solid;
}

.card_skills:hover {
  background-color: var(--color-secondary);
  border : var(--color-primary) 5px solid;
}

.gauge-wrapper:hover .gauge-level{
  background-color :var(--color-gauge-h_front);
}
.gauge-wrapper:hover .gauge{
  background-color :var(--color-gauge-h_back);
}
.gauge-wrapper:hover {
  letter-spacing: 3px;
}

.card_skills-type{
  font-size: var(--font-md);
  font-weight:bolder;
  text-align: center;
  text-decoration:underline;
  text-transform: uppercase;
  top:6px;
}

.separator{
  position: relative;
  background-color: var(--color-primary);
  height: .5px;
  width: 100%;
  margin: 20px 0px 10px 0px;
}

.gauge-wrapper{
  display: inline-block;
  letter-spacing: 0;
  margin-bottom: 2px;
  text-transform: uppercase;
  width: 100%;
  transition: letter-spacing 0.3s ease;
}

.gauge {
  position: relative;
  width: 100%;
  top: 5px;
  height: 5px;
  background-color:var(--color-gauge-back);
  border-radius: var(--radius-gen);
}

.gauge-level {
  height: 100%;
  background-color:var(--color-gauge-front);
  position: absolute;
  transition: width 0.5s;
  border-radius: var(--radius-gen);
  text-align:center;
  font-size: 15px;
  color: transparent;
  transition: color 0.3s;
}

/* ################# END SKILLS ####################### */

/* #################### CONTACT ####################### */

.contact-container {
  position: relative;
  background-color: var(--color-primary-b);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
}

.name,.message,.mail{
  color:var(--color-font-principal);
  font-size: var(--font-md);
  text-transform: uppercase;
}

textarea, input{
  width: 25vw;
  min-width: 300px;
  background-color: var(--color-input);
  border-radius: var(--radius-gen);
  border: none;
}

#btn-message{
  position: relative;
  width: 150px; 
  height: 150px;
  top: 25%;
  right:20%;
  color: var(--color-font-principal);
  font-size: var(--font-bg);
  font-weight: bold;
  background: var(--color-secon);
  border: 2px white solid;
  border-radius: var(--radius-gen);
}

/* ################ END CONTACT ####################### */

/* ##################### FOOTER ####################### */
footer{
  text-align: center;
  justify-content: center;
  position: relative;
  height: 60px;
  color: var(--color-font-secon);
  font-size: 15px;
  padding: 15px;
  background-color:var(--color-primary) ;
}

/* ################# END FOOTER ####################### */

/* POP-UP ###################################################### */

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: var(--radius-gen);
    max-width: 400px;
    text-align: center;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  #close-btn {
    background-color: #333;
    color: var(--color-font-principal);
    padding: 10px 20px;
    border: none;
    border-radius: var(--radius-gen);
    cursor: pointer;
  }

  /* ######################################### Responsive ################################################ */
  @media (max-width: 576px) {
    :root { 
      /* Fonts */  
      --font-vbg: 15px;
      --font-bg: 15px;
      --font-md: 15px;
      --font-sm: 6px;
       
      /*border-radius*/
      --radius-gen: 15px;
    }
  
    section{
      width: 100vw;
      scroll-margin-top: 150px;
      height: calc(150vh - 150px);
    }
    
    .svg_home{
      position: absolute;
      top: 5%;
      width: 100%;  
      height: 90%;
      max-width: 100%; 
    }

    .project-container {
      align-items: center;
      gap: 60px;
    }

    .project-container .cards {
      transform: scale(0.75);
      transition: 0.2s;
      left: -50%;
      min-width: 250px;
    }

    .carte {
      margin: -25px;
      transform: scale(0.8);
    }

    textarea, input{
      min-width: 200px;
    }

  }
