/*
.col-1{background-color: rgba(255, 0, 0, 0.2);}
.col-2{background-color: rgba(0, 0, 255, 0.2);}
.col-3{background-color: rgba(0, 255, 64, 0.2);}
.col-4{background-color: rgba(255, 123, 0, 0.2);}
.col-5{background-color: rgba(255, 0, 255, 0.2);}
.col-6{background-color: rgba(111, 0, 255, 0.2);}
.col-7{background-color: rgba(0, 238, 255, 0.2);}
.col-8{background-color: rgba(166, 255, 0, 0.2);}
.col-9{background-color: rgba(255, 255, 255, 0.2);}
.col-10{background-color: rgb(0, 0, 0);}
.col-11{background-color: rgba(172, 172, 172, 0.2);}
.col-12{background-color: rgba(77, 77, 77, 0.2);}
*/

:root {
  --powder-blue: rgb(166, 179, 255);
  --federal-blue: rgb(10, 1, 79);
  --caribbean-current: rgb(56, 104, 106);
  --ash-gray: rgb(255, 255, 255);
  --bg-grey:rgb(18, 18, 18);
  --gold:rgb(190, 188, 22);
  --BG:25px;
  --MD:20px;
  --SM:12px;
}
/* SCREEN 770 ############################################### */

@media screen and (max-width: 770px) {
  :root {
    --BG:25px;
    --MD:15px;
    --SM:10px;
  }
}

@media screen and (max-width: 990px) and (min-width: 770px) {
  :root {
    --BG:25px;
    --MD:20px;
    --SM:15px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 971px) {
  :root {
    --BG:25px;
    --MD:20px;
    --SM:15px;
  }
}
/* to call with var(); */

/* PAGE ######################################################### */

body{
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
section{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.section-desc{
  font-size: var(--BG);
  font-weight: bold;
  text-transform: uppercase;
}

.container-fluid{
  position: relative;
  top:21vh;
}

#canvas {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color:var(--powder-blue);
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

/* HOME ######################################################### */
.home{
  position: relative;
  margin-top: 50px;
}
.home-title{
font-size: var(--BG);
font-weight: bold;
}
.home-desc{
  font-size: var(--MD);
}

.img-fluid{
  position: relative;
  max-height:60vh;
}

/* PROJECTS ##################################################### */

.container-style {
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Espacement entre les cartes */
}

.project_carte {
  width: 250px;
  height: 400px;
  position: relative;
  color: white;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.p1{
  background: url('https://arnaudlemascon.fr/assets/pictures/p_hooman.webp');
  background-size: cover;
}
.p2{
  background: url('https://arnaudlemascon.fr/assets/pictures/cvex.webp');
  background-size: cover;
}
.p3{
  background: url('https://arnaudlemascon.fr/assets/pictures/adfoc.webp');
  background-size: cover;
}
.p4{
  background: url('https://arnaudlemascon.fr/assets/pictures/quiz.webp');
  background-size: cover;
}


.project_carte:hover {
  transform: perspective(800px) rotateX(10deg);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.project_carte::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 90%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.project_carte:hover::before {
  opacity: 1;
}

.project_description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
}

.project_small_description {
  display: none;
  }

.project_carte:hover .project_description {
  opacity: 1;
  transform: translateY(0);
}

.project_logos {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.project_logo {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.project_titre {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
}


/* VALUES ####################################################### */

.cartes-container {
  display: flex;
}

.carte {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  color: #000000;
}

.carte-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.carte:hover .carte-inner {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px; /* Arrondis */
  border: 5px solid white; /* Bordure blanche de 5px */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:white;
}

.face-avant {
  transform: rotateY(0deg);
}

.face-arriere {
  transform: rotateY(180deg);
  background-color: #fff; /* Couleur de fond pour la face arrière */
  padding: 10px;
  text-align: center;
}

.face img {
  position:relative;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 250px;
  top:0px;
  border-radius: 10px; /* Ajout de bordure arrondie pour l'image*/
  object-fit:cover;
}
.face .value{
  position: relative;
  top: 5px;
  font-size: var(--BG);
}


/* TRIVIA ####################################################### */


.img-fluid-carousel{
  height: 60vh ;
  max-width: 1000px;
  object-fit: cover;
  object-position: 50% 50%;
}

.hidden-carousel-button{
  display: none;
}

.carousel-caption{
  z-index: 0;
  font-size: var(--SM);
  position: absolute;
  width: 75%;
  max-width: 800px;
  min-width: 200px;
  padding: 10px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  transition: background-color 0.5s ease;
} 

.carousel-caption:hover{
  background: rgba(0, 0, 0, 0.8);
} 


/* Styling pour les boutons de contrôle du carrousel */
.carousel-control-prev,
.carousel-control-next {
  z-index: 1;
  width: 100%; /* Largeur des boutons */
  height: 100%; /* Hauteur des boutons */
  opacity: 1; /* Opacité par défaut */
  padding: 30vh 25% 30vh 25%;
}

.carousel-control-prev{
  right: 0%;
  background: rgba(255, 255, 255, 0.5);
  clip-path: polygon(90% 25%, 50% 50%, 90% 75%);
} 
.carousel-control-next {
  left: 0%;
  background: rgba(255, 255, 255, 0.5);
  clip-path: polygon(10% 25%, 50% 50%, 10% 75%);
}



/* SKILLS ####################################################### */

.card_skills {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
  width: 16vw;
  min-width: 250px;
  border-radius: 25px;
  transition: transform 0.3s, background-image 0.2s; /* Ajout de la transition uniquement pour le background-image */
}

.S1:hover {
  background-image: linear-gradient(140deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8) 90%);
  color: white;
  transform: scale(1.01);
}
.S2:hover {
  background-image: linear-gradient(40deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8) 90%);
  color: white;
  transform: scale(1.01); 
}
.S3:hover {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.8) 90%);
  color: white;
  transform: scale(1.01); 
}


.separator{
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  height: 1px;
  width: 100%;
  margin: 20px 0px 10px 0px;
}

.gauge {
  position: relative;
  right: 0%;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 212, 250, 0.2);
  border-radius: 25px;
}

.gauge-level {
  height: 100%;
  background-color: rgba(0, 212, 250, 0.2);
  position: absolute;
  transition: width 0.5s;
  border-radius: 25px;
}

.card_skills.S1:hover .gauge {
  background-color: rgba(0, 212, 250, 0.5);
}
.card_skills.S1:hover .gauge-level {
  background-color: rgb(0, 212, 250);
}
.card_skills.S2:hover .gauge {
  background-color: rgba(0, 212, 250, 0.5);
}
.card_skills.S2:hover .gauge-level {
  background-color: rgb(0, 212, 250);
}
.card_skills.S3:hover .img-card-softskill {
  opacity: 1;
}

.card-text-skill{
  text-align: right;
  position: relative;
  font-size: var(--SM);
  margin-bottom: 5px;
}

.S3 .card-text-skill{
  top:0px;
}


.softskillunit {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-softskill {
  position: relative;
  font-size: 11px;
  text-align: center;
}

.img-card-softskill {
  position: relative;
  max-height: 50px;
  max-width: 60px;
  opacity: 0.5;
}
/* CONTACT ###################################################### */
.name,.message,.mail{
  color: white;
}

textarea{
  width: 50vw;
  background-color: lightgray;

}

input{
  background-color: lightgray;
}

.btn-message{
  position: relative;
  width: 100px; 
  height: 75px;
  top: 25%;
  left:0%;
  background: white;
  border: none;
}

.btn-message:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: var(--ash-gray);
  clip-path: polygon(0% 0%, 100% 0%,50% 50%);
}


/* FOOTER ###################################################### */
footer{
  text-align: center;
  justify-content: center;
  position: relative;
  height: 50px;
  width: 100vw;
  color: white;
  font-size: 15px;
  padding: 15px;
}

/* POP-UP ###################################################### */

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  #close-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/* SCREEN 770 ############################################### */

@media screen and (max-width: 770px) {


  .container-style {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  .project_carte {
    width: 250px;
    height: 200px;
    position: relative;
    color: white;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  .project_carte:hover {
    transform: perspective(800px) rotateX(10deg);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  }
  
  .project_carte::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 90%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .project_carte:hover::before {
    opacity: 1;
  }
  
  .project_description {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .project_small_description {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.3s;
  }

  .project_carte:hover .project_small_description {
    opacity: 1;
    transform: translateY(0);
  }
  
  .project_logos {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .project_logo {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  
  .project_titre {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  

/* ##################################################################### */

.carte {
  width: 160px;
  height: 150px;
  perspective: 1000px;
  color: #000000;
}


.carte:hover .carte-inner {
  transform: rotateY(0deg);
}

.face {
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.face-avant {
  transform: rotateY(0deg);
}

.face-arriere {
  position: relative;
  transform: rotateY(0deg);
  background-color: transparent; /* Couleur de fond pour la face arrière */
  padding: 0px;
  text-align:center;
  line-height: 16px;
  color: white;
}

.face-arriere p{
  top: 25px;
  position: relative;
}

.face img {
  position:absolute;
  top:0px;
  border-radius: 10px; /* Ajout de bordure arrondie pour l'image*/
}
.face .value{
  position: relative;
  top: 0px;
  font-size: var(--BG);
  color: white;
  font-weight: bold;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.9) 90%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}



  .hidden-carousel-button{
    display: flex;
    top: 50px;
  }

  .btn-carousel{
    background: black;
    border: none;
  }

  .btn-carousel:hover{
    background: black;
    opacity: 0.6;
    border: none;
  }

  .btn-carousel:focus {
    background-color: black !important; /* Nouvelle couleur de fond après sélection */
    outline: none; /* Supprimer l'outline bleu lorsqu'il a le focus */
    box-shadow: none !important; /* Supprimer la box-shadow persistante après le clic */
}
  
  .cp{
    min-width: 75vw;
    max-height: 15vh;
  }

  .cp:hover{
    background-color: blue;
  }

  .project-text{
    display: none;
  }

  .project-text2{
    display: block;
  }
 
  .card_project {
    width: 70vw;
    height: 200px;
  }

  .project-text{
    font-size: 15px;
  }

  #SKILLS{
    height: 150vh;
  }

  .card_skills {
    width: 70vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .img-card-softskill{
    display: none;
  }

  .softskillunit{
    padding: 0%;
  }
  
  .card-text-skill{
    font-size: 10px;
    text-align: left;
    bottom: 0%;
    margin-top: 10px;
    background-color: transparent;
  }

  .gauge {
    position: relative;
    right: 5%;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 212, 250, 0.2);
    border-radius: 25px;
  }
  
  .gauge-level {
    height: 100%;
    background-color: rgba(0, 212, 250, 0.2);
    position: absolute;
    transition: width 0.5s;
    border-radius: 25px;
  }
  

  #imageCarousel {
    height: 30vh;
  }

  #imageCarousel .img-fluid-carousel {
    height: 35vh;
    width: 100%;
  }

  .card-text-skill{
    font-size: var(--SM);
    text-align: left;

  }

  .language{
    display: none;
  }
    
  footer{
    font-size: 10px;
  }
}

/* SCREEN 990 ############################################### */

@media screen and (max-width: 990px) and (min-width: 770px) {
  
  .project-text{
    display: none;
  }

  .project-text2{
    display: block;
  }

  .cp{
    min-width: 200px;
    max-width: 200px;
  }
  .card_project {
    width: 60vw;
    height: 200px;
}

.project-text{
  font-size: 15px;
}

.card_skills {
  width: 60vw;
  height: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
  
  .img-card-softskill{
    display: none;
  }

  .softskillunit{
    padding: 0%;
  }
  
  .card-text-skill{
    font-size: 10px;
    bottom: 0%;
    background-color: transparent;
    text-align: left;
  }

  .language{
    display: none;
  }
          
  .card-text{
    scale: 0.8;
  }

  .shake{
    display: none;
  }

  footer{
    font-size: 10px;
  }
}
/* SCREEN 1200 ############################################### */
@media screen and (max-width: 1200px) and (min-width: 971px) {

  .project-text{
    display: none;
  }

  .project-text2{
    display: block;
  }

  .cp{
    min-width: 200px;
    max-width: 200px;
  }

  .card_skills {
    width: 30vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .card_project {
    width: 30vw;
    height: 250px;
  }
  .project-text{
    font-size: 15px;
  }

  .img-card-softskill{
    display: none;
  }

  .softskillunit{
    padding: 0%;
  }

  .language{
    display: none;
  }
    
  .card-text{
    scale: 0.8;
  }

  .card-text-skill{
    font-size: 10px;
    bottom: 0%;
    margin: 0%;
    background-color: transparent;
  } 

  footer{
    font-size: 10px;
  }
}
