body{
    background-color:darkslategray;
    font-family:'Poppins', sans-serif;
}


.col-4{
    position: relative;
    background-color:teal !important;
    height: fit-content;
    min-height: 350px;
    width: 300px;
    border-radius: 15px;
    color: white;
}

table{
min-width: 30vw;
background-color: transparent;
}

.void{
    color: transparent;
}
input, button{
    border-radius: 15px;
}

.team-1 {
    background-color: #9999ff;
    color: black;
}

.team-2 {
    background-color: #7C9ACC;
    color: black;
}

.team-3 {
    background-color: #90B7CF;
    color: black;
}
.team-4 {
    background-color: #B3DDCD;
    color: black;
}

.team-5 {
    background-color: #D0E7DA;
    color: black;
}

.team-6 {
    background-color: #E8BED3;
    color: black;
}
.team-7 {
    background-color: #9999ff;
    color: black;
}

.team-8 {
    background-color: #7C9ACC;
    color: black;
}

.team-9 {
    background-color: #90B7CF;
    color: black;
}

.team-10 {
    background-color: #B3DDCD;
    color: black;
}