body{
    background-color:darkslategray;
    font-family:'Poppins', sans-serif;
}


.col-4{
    position: relative;
    background-color:teal !important;
    height: fit-content;
    width: 300px;
    border-radius: 15px;
}

table{
    color:red;
}

input, button{
    border-radius: 15px;
}

.team-1 {
    background-color: #9999ff;
}

.team-2 {
    background-color: #7C9ACC;
}

.team-3 {
    background-color: #90B7CF;
}
.team-4 {
    background-color: #B3DDCD;
}

.team-5 {
    background-color: #D0E7DA;
}

.team-6 {
    background-color: #E8BED3;
}
.team-7 {
    background-color: #9999ff;
}

.team-8 {
    background-color: #7C9ACC;
}

.team-9 {
    background-color: #90B7CF;
}

.team-10 {
    background-color: #B3DDCD;
}