body{
    background-color:darkslategray;
    font-family:'Poppins', sans-serif;
}


.col-4{
    position: relative;
    background-color:rgb(123, 238, 238) !important;
    height: fit-content;
    width: 300px;
    border-radius: 15px;
    color: white;
}

input, button{
    border-radius: 15px;
}

.team-1 {
    background-color: #ff9999;
}

.team-2 {
    background-color: #99ff99;
}

.team-3 {
    background-color: #9999ff;
    font:red;
}
