body{
  position: fixed;
  top:0%;
  left:0%;
    width:100vw;
    height: 100vh;
    background:green;
    cursor: url('https://arnaudlemascon.fr/projects/norksiege/norm.cur'),auto;
  }
  .charactersheet {
    position: fixed;
    top:25px;
    left: 25px;
    width:400px;
    height: 550px;
    background: blue;
    padding:10px 25px 10px 25px;;
    overflow: hidden;
  }
  
  .row {
    position: relative;
    background: orange;
    margin-bottom:10px;
    padding-left: 5px; /* Ajoute un décalage de 5px à gauche */
    padding-right: 5px; /* Ajoute un décalage de 5px à droite */
  }
  
  .portrait {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 200px; /* Assurez-vous que .portrait prend toute la hauteur de la row */
  }
  
  .picture {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    width: 100%; /* Prend toute la largeur de .portrait */
    height: 100%; /* Prend toute la hauteur de .portrait */
    background: magenta;
  }
  
  .information{
    background:purple;
  }
  
  .sa{
    padding:5px;
    height:280px;
  }
  .group{
    background:dodgerblue;
    left:0px;
    font-size:13px;
    text-align:left;
    margin-bottom:5px;
  }
  .attribute{
   width:100%;
    height:25px;
    background:gray;
  }
  
  .skill{
    position: relative;
    background: green;
    width: 100%;
    height:25px;
  }